<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Ajout</title>
</head>
<body>
<h1>Ajouter des écuries</h1>

{% if id != '' %}
<form action="/applimoto/updatetraitement/{{id}}/" method="post">

    {% else %}
    <form action="/applimoto/affiche/" method="post">
        {% endif %}

        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="Envoyer les informations"/>
        <a href="/applimoto/">Index</a>

    </form>
</body>
</html>